<body style={css}>
    <header>
        <nav id="navigation">
            <input type="checkbox" id="nav-check"/>
            <div class="nav-brand">
                <i class="fa-solid fa-code"></i>
                <p>Co<span>D</span>eR</p>
            </div>
            <div class="menu">
                <a href="#home">Home</a>
                <a href="#about">About Me</a>
                <a href="#skills1">Skills</a>
                <a href="#contact1">Contacts</a>
                <a href="#rate">Review</a>
            </div>

            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
        </nav>


        <div class="heading">
            <div class="home-center">
                <span>GET EVERY SINGLE SOLUTIONS.</span>
                <h2>Welcome To My <span>Portfolio.</span></h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad debitis at minima? Earum possimus quia itaque dolorem unde explicabo voluptate hic veritatis magnam labore? Necessitatibus, dolore ea sint repudiandae ipsa voluptatibus facilis
                    tempora iusto.
                </p>
            </div>
            <div class="button">
                <a href="#about1">
                    <button class="btn">Learn More</button>
                </a>
                <a href="#contact1">
                    <button class="btn">Hire Me</button>
                </a>
            </div>
        </div>
    </header>

    <section id="about">
        <div class="head">
            <h1>About Me</h1>
        </div>
        <div class="about-container">
            <div class="info">
                <h2>I Create Products Not Just Art.</h2>
                <p>I'm a Web developer, from Patiala in Punjab. On my free time, I enjoy expanding my programming knowledge, building dynamic web applications, and helping others learn to code. Other than programming, I like mountain biking, skateboarding,
                    exercising, traveling, and enjoying life. Have a nice day and thanks for visiting my page!</p>
                <button id="resume-download">
                    <i class="fas fa-download"></i>
                    Resume</button>
            </div>
            <div class="image">
                <img src={profilePic} alt="Loading.."/>
            </div>
        </div>
    </section>

    <div class="battery-log">

    </div>

    <section id="skills">
    <div class="head">
        <h1>My Skills</h1>
    </div>
    <div class="skills-container">
        <div class="experience">
            <h3>My Creative Skills And Experience</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, enim quas. Itaque ducimus, dolorum eius, dolore similique autem, perspiciatis architecto quia voluptatum sed odio! Aut doloribus ipsam beatae, quasi illo inventore. Architecto dolorem iusto ea necessitatibus harum, veniam dolore modi magni molestiae quibusdam qui expedita eligendi ipsam corrupti odio nesciunt hic ab aliquam fugiat numquam eaque quisquam. Nostrum enim tempora dolore eligendi sit minima voluptas optio, reiciendis totam! Cumque consequatur ipsa a culpa sed nostrum quod blanditiis consequuntur dolorem libero sequi atque animi ea voluptas quaerat itaque quam obcaecati, possimus aut omnis hic, labore odio? Sint sequi hic tempora quaerat.</p>
        </div>
        <div class="graph">
            <div class="skill">
                <div class="info"><span>DSA</span><span>85%</span></div>
                <div class="line dsa"></div>
            </div>
            <div class="skill">
                <div class="info"><span>JAVA</span><span>75%</span></div>
                <div class="line java"></div>
            </div>
            <div class="skill">
                <div class="info"><span>HTML</span><span>90%</span></div>
                <div class="line html"></div>
            </div>
            <div class="skill">
                <div class="info"><span>CSS</span><span>90%</span></div>
                <div class="line css"></div>
            </div>
            <div class="skill">
                <div class="info"><span>REACTJS</span><span>80%</span></div>
                <div class="line python"></div>
            </div>
            <div class="skill">
                <div class="info"><span>MONGODB</span><span>75%</span></div>
                <div class="line MONGODB"></div>
            </div>
            <div class="skill">
                <div class="info"><span>JAVASCRIPT</span><span>70%</span></div>
                <div class="line js"></div>
            </div>
        </div>
    </div>
</section>
<section id="project">
    <div class="head">
        <h1>My Projects</h1>
    </div>
</section>

{/* <!-- Contact Me--> */}
<section id="contact">
    <div class="head">
        <h1>Get In Touch</h1>
    </div>
    <div class="contact-container">
        <div class="left">
            <div class="left-info">
                <div class="line">
                    <div class="icon"><i class="fa-solid fa-user-large" aria-hidden="true"></i></div>
                    <div class="inp">
                        <h4>Name</h4><strong>Harmandeep Singh</strong>
                    </div>
                </div>
                <div class="line">
                    <div class="icon">
                        {/* <!-- <i class="fa fa-location-arrow" aria-hidden="true"></i>--> */}
                        <i class="fa-solid fa-compass"></i>
                    </div>
                    <div class="inp">
                        <h4>Address</h4><strong>Patiala, Punjab</strong>
                    </div>
                </div>
                <div class="line">
                    <div class="icon">
                        {/* <!-- <i class="fa fa-envelope" aria-hidden="true"></i>--> */}
                        <i class="fa-solid fa-at"></i>
                    </div>
                    <div class="inp">
                        <h4>E-Mail</h4><strong>abcd@gmail.com</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <h2>Message Me</h2>
            <form class="Form" action="/" method="post">
                <div class="input1"><input id="name" type="text" name="name" placeholder="Name" required="" data-error="Please Enter Your Name" /><input id="email" type="email" name="email" placeholder="E-Mail" required="" data-error="Please Enter Your Email" /></div>
                <div class="input"><input id="tel" type="tel" name="tel" placeholder="Phone Number" required="" data-error="Please Enter Your Phone Number" /><input id="message" type="text" name="message" placeholder="Message.." required="" data-error="Please Type your message" /></div><button type="submit">Send Message</button><button type="reset">Reset Message</button>
            </form>
        </div>
    </div>
</section>
<footer>
    <h3>Created By <span>Harmandeep Singh</span> | Copyright &copy; 2022 All rights reserved.</h3>
</footer>
<script src="../static/index.js"> </script>

</body>
